#gif-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 3rem;
        font-family: "roboto";
    }

    img {
        width: 833px;
        height: 624.75px;
    }

    .avant-underline {
        text-decoration: underline;
    }
}