@font-face {
  font-family: "special";
  src: url("../public/font/special-elite/special-elite.ttf");
}

:root {
  --primary-font: "Wild";
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#app-body {
  background-image: url("./assets/images/background-intro.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: center; 
}