body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#app-body {
  background-image: url(./assets/background-intro.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: center; 
}